html {
    padding: 0px;
    margin: 0px;
}
#questions{
    /*
    /*화면을 가득 채우기 위한 속성*/
    width: 100%;
    height: 100%;
    /*절대위치 */
    position: absolute;
    top: 0;
    left: 0;

    /*flex*/
    display: flex;
    /*중앙 정렬*/
    
    justify-content: center;
    align-items: center;
    
    background-color: rgb(233, 233, 233);
    flex-direction: column;
}

#introBox, #qnaBox, #resultBox{
    /*padding: 80px;*/
    background-color: white;
    border-radius: 2%;
    padding: 5px;
}

.element, #result_text {
    text-align-last: center;
    text-align: -webkit-center;
    font-family: 'Noto Serif KR';
}

#title {
    font-family: sans-serif;
}

#start_btn{
    color: white;
    background-color: black;
    width: 120px;
    transition: 1s;
    
    font-family: 'Noto Serif KR';
}

#start_btn:hover{
    color: white;
    background-color: rgb(233, 233, 233);
    transition: 1s;
}

#start_btn:active{
    border: inset;
}

#Question{
    font-family: 'Noto Serif KR';
    font-size: 20px;
    margin: 20px;
}

#Answer1, #Answer2{
    color: black;
    background-color: white;
    width: auto;
    transition: 1s;
    border: 0;
    font-family: 'Noto Serif KR';
}

#Answer1:active, #Answer2:active{
    color: white;
    background-color: gainsboro;
}

.list_start {
    text-align: center;
    width: 525px;
}

.list_detail {
    display: inline-block;
    height: auto;
    opacity: 0;
    margin-bottom: 20px;
}

.bar {
    margin: 10px;
    padding-bottom: 20px;
    display: flex;
    /*중앙 정렬*/
    
    justify-content: center;
    align-items: center;
}

.bar_detail {
    width: 30px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    background-color: white;
}
